/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {

  box-sizing: border-box;
  background: no-repeat center center fixed;
  background-image: url("/Users/ronald/Development/project/game_time_app/game-time-app-frontend/src/Images/lights-night-stadium-mixed-media.jpg");
  background-size: cover;
  margin-top: 150px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
.main-container{
  display: flex;
  align-items: center;
  font-family:'Roboto',sans-serif;
  flex-direction: column;
}
.App-title{
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:60px;
  color: red;
  font-size: 80px;
  word-wrap: break-word;
}
.homeBtn{
  display:block;
  margin:0.4em auto;
  /* display:inline-block; */
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:50px;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
  width:auto;
  height: auto;
  }
  homeBtn:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  }
