body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {

  box-sizing: border-box;
  background: no-repeat center center fixed;
  background-image: url("/Users/ronald/Development/project/game_time_app/game-time-app-frontend/src/Images/lights-night-stadium-mixed-media.jpg");
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

